h1 {
color:blue;
background-color: rgb(241, 230, 14);
font-size: larger;
}

p{
    color: rgb(134, 6, 6);
    text-align: right;
}


#container1{
    background-color: aqua;
    border: darkblue 5px dotted;
}

#container2{

    background-color: rgb(128, 83, 170);
    height: 500px;
    padding: 10px;
    margin: 5px;


}
